<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>CFBundleExecutable</key>
	<string></string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location for weather information</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We need your location for weather information even in the background</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleIdentifier</key>
	<string>com.example.WeatherAppSwiftUI</string>
	<key>CFBundleName</key>
	<string>WeatherAppSwiftUI</string>
</dict>
</plist>
